<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="modbus_robot">
  <link name="base_link"/>

  <xacro:include filename="$(find modbus_hw_interface)/description/ros2_control/modbus_bus.ros2_control.xacro"/>

  <!-- TCP bus: one device (plc_1) with its own YAML -->
  <xacro:modbus_tcp_bus name="ModbusTCP" bus_name="tcp_bus" ip_address="192.168.1.10" port="502">
    <devices>
      <joint name="plc_1">
        <param name="slave_id">1</param>
        <param name="device_config">$(find modbus_hw_interface)/config/devices/plc_device.yaml</param>
      </joint>
    </devices>
  </xacro:modbus_tcp_bus>
</robot>
