<?xml version="1.0"?>
<robot name="modbus_robot">
  <link name="base_link"/>

  <ros2_control name="ModbusSystem" type="system">
    <hardware>
      <plugin>modbus_hw_interface/ModbusSystemInterface</plugin>
      <param name="modbus_config_file">REPLACE_MODBUS_CONFIG_PATH</param>
    </hardware>
  </ros2_control>
</robot>
